@import "../../style/varibles";
@import "../../style/custom";
.book-item {
  height: 260px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  .img {
    height: 100%;
    flex-basis: 200px;
  }
  .img image {
    height: 260px;
    width: 200px;
  }
  .right {
    flex-grow: 1;
    margin-left: 36px;
    border-bottom: 2px solid $gray-300;
  }
  .title {
    font-size: 30px;
    font-weight: 400;
  }
  .author {
    font-size: 24px;
    color: $gray-600;
    margin-top: 16px;
  }
  .comments {
    font-size: 24px;
    color: $gray-600;
  }
  .price {
    font-size: 30px;
    color: $red;
    font-weight: bold;
    padding: 16px 0;
  }
  .person {
    margin-left: 20px;
  }
}
