@import "../../style/varibles";
.item {
  border-bottom: 2px solid $gray-300;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.left {
  font-size: 24px;
  margin-right: auto;
}
.right {
  margin-left: auto;
  color: $gray-400;
  font-size: 24px;
}
