@import "../../style/varibles";
.item {
  border-bottom: 2px solid $gray-300;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.left {
  font-size: 24px;
  margin-right: 8px;
  flex-basis: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right {
  margin-left: auto;
  color: $gray-400;
  font-size: 24px;
}
