@import "../../style/varibles";
@import "../../style/custom";
.container {
  display: inline-flex;
  width: 220px;
  flex-direction: column;
  .img {
    width: 100%;
    height: 150px;
  }
  .title {
    @extend .ellipsis,.common-text;
    white-space: normal;
    display: inline-block;
    height: 60px;
  }
  .price {
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-weight: $font-weight-bold;
  }
}
