@import "../../style/custom";
@import "../../style/varibles";
.body {
  text-align: center;
  height: 80px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .icon {
    color: $gray-500;
    font-size: $font-size-lg * 1.3;
  }
  .title {
    font-size: $font-size-sm * 0.6;
  }
  .tips {
    position: absolute;
    background: red;
    color: white;
    font-size: $font-size-sm * 0.5;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 5px 8px;
    transform: translateX(8px);
  }
}
