@import "../../common/style/custom";
@import "../../common/style/varibles";
.top-nav-bar {
  background: $gray-100;
  display: flex;
  justify-content: space-around;
  width: 750px;
  button {
    @extend .common-title;
  }
}
.hidden {
  display: none;
}
.active {
  color: red;
}
