@import "../../common/style/custom";
@import "../../common/style/varibles";

.book-detail-container {
  .top-nav-bar {
    background: $gray-100;
    display: flex;
    justify-content: space-around;
    width: 750px;
    button {
      @extend .common-title;
    }
  }
  .hidden {
    display: none;
  }
  .active {
    color: red;
  }
  .content {
    margin-bottom: 130px;
  }
  .bottom-bar {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    .icons {
      width: 40%;
      display: flex;
      justify-content: space-around;
      .favorited {
        color: hsla(57, 70%, 51%, 0.74);
      }
      .notFavorited {

      }
    }
    .buys {
      display: flex;
      .btn {

      }
      $radius:40px;
      .buy-instant {
        background-color: #FEE140;
        background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
        border-bottom-left-radius: $radius;
        border-top-left-radius: $radius;
        border-right: none;
      }
      .add-to-cart {
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        border-bottom-right-radius: $radius;
        border-top-right-radius: $radius;
        border-left: none;
      }
    }
  }
}

