@import "../../common/style/varibles";
@import "../../common/style/custom";
.login {
  @extend .page;
  .form {
    margin-top: 60px;
    .input-bar {
      display: flex;
      align-items: center;
      .darken {
        color: $gray-400;
      }
      .input-wrapper {
        flex-grow: 1;
        .input {
          width: 90%;
        }
      }
      .code {
        // 验证码
        width: 600px;
        margin-left: 76px;
        .at-input__input {
          flex-grow: 1;
        }
      }
    }
    .submit {
      margin-top: 40px;
      .signup {

      }
    }
    .to-login {
      margin-top: 35px;
    }
  }
}
