@import "../../../../common/style/varibles";
@import "../../../../common/style/custom";
.container {

}
.hidden {
  display: none;
}
.top-bar {
  display: flex;
  padding: 15px 0;
}
.left {
  flex-grow: 1;
  text-align: center;
}
.right {
  flex-grow: 1;
  text-align: center;
}
.left,.right {
  padding: 18px;
}
.active {
  color: red;
  border-bottom: 4px solid red;
}

.item {
  display: flex;
  text-align: start;
  margin-top: 25px;
}
.item-left {
  flex-basis: 250px;
  @extend .common-text;
  color: $gray-500;
}
.item-right {
  flex-basis: 500px;
  @extend .common-text;
}
.publish-detail {
  margin-top: 20px;
}
